.BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flexbox;
  padding-bottom: 20px;
  padding: 10px;
}


.EventName{
  color: #f65858;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  
}

h3{
  color: #f65858;
}



